{% extends "base.twig" %}

{% block app %}
    <div class="d-flex flex-column" xmlns="http://www.w3.org/1999/html">
        <div class="d-flex flex-row mb-3">
            <div class="w-50 p-2">
                Filters go over here
            </div>
            <div class="w-50 p-2 d-flex justify-content-end">
               <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#newlivery">New Livery</button>
            </div>
        </div>
        <div class="my-1 mx-3 py-3 px-4 border collapse" id="newlivery">
            <p>New Livery Definition</p>
            <form id="newliveryform">
                <div>
                    <label for="name" class="form-label">Livery Name</label>
                    <input type="text" class="form-control" id="name" name="name" />
                </div>
                <div>
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description" />
                </div>
                <div>
                    <label for="tailno" class="form-label">Tail Number</label>
                    <input type="text" class="form-control" id="tailno" name="tailno" />
                </div>
                <div>
                    <label for="airframe_id" class="form-label">Airframe</label>
                    <select class="form-select" name="airframe_id" id="airframe_id">
                        <option selected>Choose</option>
                    </select>
                </div>
                <div>
                    <label for="livery_type_id" class="form-label">Livery Type</label>
                    <select class="form-select" name="livery_type_id" id="livery_type_id">
                        <option selected>Choose</option>
                    </select>
                </div>
                <div>
                    <label for="storage_path" class="form-label">Storage Path</label>
                    <input type="text" class="form-control" id="storage_path" name="storage_path" />
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Create New</button>
                </div>
            </form>
        </div>
        <div class="mt-1">
            {% if records|length < 1 %}
             <h2>No Liveries.</h2>
            {% endif %}
            {% for r in records %}
            <div class="card mt-3 mb-3 d-flex flex-row">
                <div class="w-25 img-placeholder rounded-2 m-1 me-3 text-center d-flex align-items-center">
                    <div class="flex-fill">Image</div>
                </div>
                <div class="d-flex flex-column w-100">
                    <div class="d-flex flex-row p-2">
                        <div class="w-50 fs-3"><a href="#">{{ r.airframe.name }}</a></div>
                        <div class="fs-5">{{ r.airframe.icao }}</div>
                        <div class="flex-fill text-end"><button class="btn btn-primary">Upload New Version</button></div>
                    </div>
                    <div class="d-flex flex-row p-2">
                        <div class="flex-fill fs-5">{{ r.airframe.simulator.name }}</div>
                        <div class="flex-fill fs-5">{{ r.airframe.developer.name }}</div>
                        <div class="flex-fill fs-5">Livery Type: {{ r.livery_type.name }}</div>
                    </div>
                    <div class="d-flex flex-row p-2">
                        <div class="flex-column">
                            {% if r.latest is not null %}
                            <div class="flex-fill fs-4">Latest Version: {{ r.latest.version }}</div>
                            <div class="flex-fill fs-5">Download File: <a href="#">{{ r.latest.file_name }}</a></div>
                            <div class="flex-fill mt-1">Latest changes: {{ r.latest.changelog }}</div>
                            {% else %}
                                <div class="flex-fill">No downloadable livery versions available.</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="module" src="http://localhost:5173/livery.js"></script>
{% endblock %}
